<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="Most-Popular" class="wow fadeIn">

    <h2 class="h1 text-left my-5 font-weight-bold">The Most Popular</h2>

    <div class="row text-left">
        <div class="col-lg-6 col-md-12">

            <!--Image-->
            <div class="view overlay zoom rounded z-depth-1-half mb-3">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/77.jpg" class="img-fluid"
                     alt="Sample post image">
                <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="news-data">
                <a href="" class="light-blue-text">
                    <h6>
                        <i class="fas fa-plane"></i>
                        <strong> Travels</strong>
                    </h6>
                </a>
                <p>
                    <strong>
                        <i class="far fa-clock"></i> 20/08/2018</strong>
                </p>
            </div>
            <h3>
                <a>
                    <strong>This is title of the news</strong>
                </a>
            </h3>
            <p> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            </p>

            <!--/Featured news-->

            <hr>

            <!--Small news-->
            <div class="row">
                <div class="col-md-3">

                    <!--Image-->
                    <div class="view zoom overlay rounded z-depth-1">
                        <img src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" class="img-fluid"
                             alt="Minor sample post image">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-9">
                    <p class="dark-grey-text">
                        <strong>19/08/2018</strong>
                    </p>
                    <a>Lorem ipsum dolor sit amet
                        <i class="fas fa-angle-right float-right"></i>
                    </a>
                </div>

            </div>
            <!--/Small news-->

            <hr>

            <!--Small news-->
            <div class="row">
                <div class="col-md-3">

                    <!--Image-->
                    <div class="view zoom overlay rounded z-depth-1">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/54.jpg" class="img-fluid"
                             alt="Minor sample post image">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-9">
                    <p class="dark-grey-text">
                        <strong>18/08/2018</strong>
                    </p>
                    <a>Soluta nobis est eligendi
                        <i class="fas fa-angle-right float-right"></i>
                    </a>
                </div>

            </div>
            <!--/Small news-->

            <hr>

            <!--Small news-->
            <div class="row">
                <div class="col-md-3">

                    <!--Image-->
                    <div class="view zoom overlay rounded z-depth-1">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" class="img-fluid"
                             alt="Minor sample post image">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-9">
                    <p class="dark-grey-text">
                        <strong>17/08/2018</strong>
                    </p>
                    <a>Voluptatem accusantium doloremque
                        <i class="fas fa-angle-right float-right"></i>
                    </a>
                </div>

            </div>
            <!--/Small news-->

        </div>
        <div class="col-lg-6 col-md-12">

            <!--Image-->
            <div class="view overlay zoom rounded z-depth-1-half mb-3">
                <img src="https://mdbootstrap.com/img/Photos/Others/images/77.jpg" class="img-fluid"
                     alt="Sample post image">
                <a>
                    <div class="mask rgba-white-slight waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="news-data">
                <a href="" class="light-blue-text">
                    <h6>
                        <i class="fas fa-plane"></i>
                        <strong> Travels</strong>
                    </h6>
                </a>
                <p>
                    <strong>
                        <i class="far fa-clock"></i> 20/08/2018</strong>
                </p>
            </div>
            <h3>
                <a>
                    <strong>This is title of the news</strong>
                </a>
            </h3>
            <p> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            </p>

            <!--/Featured news-->

            <hr>

            <!--Small news-->
            <div class="row">
                <div class="col-md-3">

                    <!--Image-->
                    <div class="view zoom overlay rounded z-depth-1">
                        <img src="https://mdbootstrap.com/img/Photos/Others/photo8.jpg" class="img-fluid"
                             alt="Minor sample post image">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-9">
                    <p class="dark-grey-text">
                        <strong>19/08/2018</strong>
                    </p>
                    <a>Lorem ipsum dolor sit amet
                        <i class="fas fa-angle-right float-right"></i>
                    </a>
                </div>

            </div>
            <!--/Small news-->

            <hr>

            <!--Small news-->
            <div class="row">
                <div class="col-md-3">

                    <!--Image-->
                    <div class="view zoom overlay rounded z-depth-1">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/54.jpg" class="img-fluid"
                             alt="Minor sample post image">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-9">
                    <p class="dark-grey-text">
                        <strong>18/08/2018</strong>
                    </p>
                    <a>Soluta nobis est eligendi
                        <i class="fas fa-angle-right float-right"></i>
                    </a>
                </div>

            </div>
            <!--/Small news-->

            <hr>

            <!--Small news-->
            <div class="row">
                <div class="col-md-3">

                    <!--Image-->
                    <div class="view zoom overlay rounded z-depth-1">
                        <img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" class="img-fluid"
                             alt="Minor sample post image">
                        <a>
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-9">
                    <p class="dark-grey-text">
                        <strong>17/08/2018</strong>
                    </p>
                    <a>Voluptatem accusantium doloremque
                        <i class="fas fa-angle-right float-right"></i>
                    </a>
                </div>

            </div>
            <!--/Small news-->

        </div>
    </div>

</section>
</body>
</html>