<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>DGB - Article Management System</title>
</head>

<body>
<div layout:fragment="Content">
    <!-- Top article -->
    <section class="wow fadeIn top-article">

        <div class="jumbotron">
            <h2 class="display-4">TOP ARTICLE</h2>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger
                container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Read more</a>
        </div>

    </section>

    <!-- List all posts -->
    <section class="wow fadeIn">

        <h3 class="text-left my-3 font-weight-bold">DGB All Posts</h3>

        <blockquote class="blockquote bq-primary py-0">
            <div class="row">
                <div class="col-md-4">
                    <div class="view overlay zoom">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(131).jpg"
                             class="img-fluid " alt="zoom">
                    </div>
                </div>
                <div class="col-md-8">
                    <a class="article-title bq-title font-weight-bold">Learn Bootstrap 4 with MDB in Spring
                        Framework</a>
                    <p class="mb-0">
                        <i class="far fa-clock"></i> 20/08/2018
                    </p>
                    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra
                        attention to featured content or information.</p>
                </div>
            </div>
        </blockquote>

        <blockquote class="blockquote bq-primary py-0">
            <div class="row">
                <div class="col-md-4">
                    <div class="view overlay zoom">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(131).jpg"
                             class="img-fluid " alt="zoom">
                    </div>
                </div>
                <div class="col-md-8">
                    <a class="article-title bq-title font-weight-bold">Learn Bootstrap 4 with MDB in Spring
                        Framework</a>
                    <p class="mb-0">
                        <i class="far fa-clock"></i> 20/08/2018
                    </p>
                    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra
                        attention to featured content or information.</p>
                </div>
            </div>
        </blockquote>

    </section>

</div>
</body>

</html>