<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>DGB - Article Management System</title>
</head>

<body>
    <!--Main layout-->
    <main>
        <div layout:fragment="Content">
            
            <section class="my-5">

                <h2 class="h1 text-center my-5 font-weight-bold">Our Categories</h2>

                <div class="row">

                    <div class="col-md-4 mt-3">
                        <a class="btn btn-category cloudy-knoxville-gradient">
                            <i class="fa fa-folder fa-3x" aria-hidden="true"></i>
                            <span>Fashion</span>
                        </a>
                    </div>

                    <div class="col-md-4 mt-3">
                        <a class="btn btn-category cloudy-knoxville-gradient">
                            <i class="fa fa-folder fa-3x" aria-hidden="true"></i>
                            <span>Entertainment</span>
                        </a>
                    </div>

                    <div class="col-md-4 mt-3">
                        <a class="btn btn-category cloudy-knoxville-gradient">
                            <i class="fa fa-folder fa-3x" aria-hidden="true"></i>
                            <span>Sports</span>
                        </a>
                    </div>

                    <div class="col-md-4 mt-3">
                        <a class="btn btn-category cloudy-knoxville-gradient">
                            <i class="fa fa-folder fa-3x" aria-hidden="true"></i>
                            <span>Fashion</span>
                        </a>
                    </div>

                    <div class="col-md-4 mt-3">
                        <a class="btn btn-category cloudy-knoxville-gradient">
                            <i class="fa fa-folder fa-3x" aria-hidden="true"></i>
                            <span>Entertainment</span>
                        </a>
                    </div>

                    <div class="col-md-4 mt-3">
                        <a class="btn btn-category cloudy-knoxville-gradient">
                            <i class="fa fa-folder fa-3x" aria-hidden="true"></i>
                            <span>Sports</span>
                        </a>
                    </div>

                </div>

            </section>

        </div>
    </main>
    <!--Main layout-->

</body>

</html>